div.full-size(ng-controller="ScriptOutputController")
	.toolbar.toolbar-tall
		a.btn.btn-info(
			href,
			ng-disabled="running",
			ng-click="run()"
		)
			i.fa.fa-refresh(
				ng-class="{'fa-spin': running }"
			)
			| &nbsp;&nbsp;
			span(ng-show="!running") #{translate("run")}
			span(ng-show="running") #{translate("running")}...
			
	div.script-output
		pre.output.row-spaced(ng-if="output.stdout && output.stdout != ''") {{ output.stdout }}
		
		pre.output.row-spaced.text-danger(ng-if="output.stderr && output.stderr != ''") {{ output.stderr }}
		
		.card.card-thin.row-spaced-small(ng-repeat="file in files")
			.page-header
				strong {{ file.path }}
			img(ng-if="file.type == 'image'", ng-src="{{file.url}}")
			p.text-center(ng-if="file.type != 'image'")
				a(ng-href="{{file.url}}", target="_blank") Download