div.full-size(ng-controller="ScriptOutputController")
	.toolbar.toolbar-tall
		a.btn.btn-info(
			href,
			ng-disabled="running",
			ng-click="run()"
		)
			i.fa.fa-fw(
				ng-class="{'fa-refresh fa-spin': running, 'fa-play': !running }"
			)
			| &nbsp;&nbsp;
			span(ng-show="!running") #{translate("run")}
			span(ng-show="running") #{translate("running")}...
			
	div.script-output
		pre.output.stdout.row-spaced-small(ng-if="output.stdout && output.stdout != ''") {{ output.stdout }}
		
		pre.output.stderr.row-spaced-small(ng-if="output.stderr && output.stderr != ''") {{ output.stderr }}
		
		.output-file.card.card-thin.row-spaced-small(ng-repeat="file in files")
			.page-header.output-file-page-header {{ file.path }}
			img(ng-if="file.type == 'image'", ng-src="{{file.url}}")
			p.output-file-download-link.text-center(ng-if="file.type != 'image'")
				a(ng-href="{{file.url}}", target="_blank") Download